@model UserVM
@{
    ViewData["Title"] = " | Manage Users";
}

<h1 class="mb-2">Admin Area</h1>
<a asp-action="ManageRecipes" class="btn btn-primary">Manage Recipes</a>
<a asp-action="ManageLogEntries" class="btn btn-primary">Manage Logs</a>
<a asp-action="ManageUsers" class="btn btn-primary">Manage Users</a>