@model List<Recipe>

<h1>Manage Recipes</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Recipe Title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a asp-controller="Recipe" asp-action="Details" asp-route-id="@item.RecipeID">Details</a> |
                    <a asp-controller="Recipe" asp-action="DeleteRecipe" asp-route-id="@item.RecipeID">Delete</a>|
                    <!--TO DO FIX THIS-->
                    <a asp-controller="Recipe" asp-action="Edit" asp-route-id="@item.RecipeID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
