@model Recipe
@{
}
Hi it's the recipe display page
@if (Model != null)
{
    <!--h3>@Model.Title</!--h3>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="@Model.ImageURL" class="img-fluid"/><br />
                <p>@Model.Category</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    @Model.Instructions
                </p>
                <hr />
                Method:
                <ul>
                    @{
                    
                    }
                </ul>
            </div>
            <div class="col">
                Ingredients
                <ul>
                 @{
                     
          
                    
                }
                </ul>
            </div>
        </div>
        <div class="row" id="log-area">
       
        </div>
    </div>-->

}
