@page
@{
}

<div class="row">
    <div class="col-sm-4">
        <img src="/images/butter-mtn-text.jpg" class="img-fluid" />
    </div>
    <div class="col-sm-8">
        <h3 class="display-4">Why BUTTER MOUNTAIN?</h3>
        <blockquote>
            The mountain of God is a butter mountain, a curdled mountain, a butter mountain.
        </blockquote>
        <p>
         I heard this translation of Psalm 67 in an Orthodox Christian Church. I don't go to church any more, but the idea of a BUTTER MOUNTAIN sticks with me. During winter 2018, my housemate and I watched a lot of the Great British Baking Show. This lead to a truly obscene amount of homemade puff pastry. I said when I made my next recipe zine, I would call it Butter Mountain. This site is not a zine, but it is a great place to store my recipes and all the changes I make to them.
        </p>
        <p>
            I also think about recipe difficulty in terms of climbing/ going up a mountain.
        </p>
        <ul>
            <li>Easy: Taking a nice train and drinking hot cocoa at the top</li>
            <li>Medium: A well-groomed trail that starts from a parking lot with bathrooms.</li>
            <li>Difficult: Back-country snowshoeing with a dog and a map</li>
            <li>Extreme: Ice-climbing a frozen waterfall while yelling at the void</li>
        </ul>
    </div>
</div>