@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div class="row">
        <div class="col">
            <img src="/images/butter-mtn.jpg" class="img-fluid" />
        </div>
        <div class="col">
            <h3 class="display-4 py-3">Welcome to Butter Mountain</h3>
            <hr />
            <h4>A Recipe Archive project made for CS295 and CS296</h4>
            <p>This project was made using .NET 6.0, Entity Framework, and MySql.</p>
        </div>

        </div>
    </div>
