.star-rating::after{
    background-image: url("/images/icons/star_FILL1_wght400_GRAD0_opsz48.svg");
    content:"";
    background-size:contain;
    height:1.5em;
    width: 1.5em;
}
.star-not-filled::after {
    background-image: url("/images/icons/star_FILL0_wght400_GRAD0_opsz48.svg");
}